project_id                    = "your-project-id"
image_name                    = "hardened-ubuntu-20260605145857"
sa_instance_runtime_email     = "sa-compute-instance@your-project-id.iam.gserviceaccount.com"
